---
apiVersion: v1
data:
  DISCOURSE_HOSTNAME: forum.your.org
  DISCOURSE_SMTP_ADDRESS: smtp.sendgrid.net
  DISCOURSE_SMTP_PORT: '587'
  DISCOURSE_SMTP_USER_NAME: smtpuser
  DISCOURSE_SMTP_PASSWORD: password
  DISCOURSE_DEVELOPER_EMAILS: hostmaster@your.domain
  DISCOURSE_DB_PASSWORD: d15c0ur53
  DISCOURSE_DB_HOST: discourse-postgres
  DISCOURSE_REDIS_HOST: discourse-redis
kind: ConfigMap
metadata:
  labels:
    app: discourse
  name: discourse-environment
  namespace: default
